#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  background-image: url("./assets/mario.gif"), url("./assets/ground.png"),
    url("./assets/bushes.png"), url("./assets/back.png");
  background-color: #f8e0b0;
  background-repeat: no-repeat, repeat-x, repeat-x, repeat-x;
  background-position: left 30% bottom 22px, left 0px bottom 0px,
    left 0px bottom 22px, left 0px bottom 0px;
  background-attachment: fixed;
  animation: back 15s infinite linear;
}

@keyframes back {
  0% {
    background-position: left 30% bottom 22px, left 0px bottom 0px,
      left 0px bottom 22px, left 0px bottom 0px;
  }
  50% {
    background-position: left 50% bottom 22px, left -816px bottom 0px,
      left -508px bottom 22px, left -256px bottom 0px;
  }
  100% {
    background-position: left 30% bottom 22px, left -1632px bottom 0px,
      left -1016px bottom 22px, left -512px bottom 0px;
  }
}

.content {
  padding: 40px;
}

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  background-color: #de5e24;
  color: #e0dab8;
  padding: 10px 0;
  font-family: "Press Start 2P";
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: Adds depth with a shadow */
}

.navbar a {
  color: #e0dab8;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #f4f3ee;
}

.profile-box {
  background-color: #de5e24;
  color: #e0dab8;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.profile-box h1 {
  text-align: center;
  margin-bottom: 20px;
}

.profile-box p {
  margin-bottom: 10px;
}
